BRIDGE_MODE=ERC_TO_ERC_MULTIPLE

HOME_BRIDGE_MAPPER_POLLING_INTERVAL=5000
HOME_POLLING_INTERVAL=5000
FOREIGN_POLLING_INTERVAL=5000

ALLOW_HTTP=no
HOME_RPC_URL=https://kovan.infura.io/mew
FOREIGN_RPC_URL=https://kovan.infura.io/mew

HOME_BRIDGE_MAPPER_ADDRESS=0x0575cb8485898A79549b6407DEc95d1C77c3eF63

HOME_BRIDGE_MAPPER_START_BLOCK=

VALIDATOR_ADDRESS=
VALIDATOR_ADDRESS_PRIVATE_KEY=

HOME_GAS_PRICE_ORACLE_URL=https://gasprice.poa.network/
HOME_GAS_PRICE_SPEED_TYPE=standard
HOME_GAS_PRICE_FALLBACK=1000000000
HOME_GAS_PRICE_UPDATE_INTERVAL=600000

FOREIGN_GAS_PRICE_ORACLE_URL=https://gasprice.poa.network/
FOREIGN_GAS_PRICE_SPEED_TYPE=standard
FOREIGN_GAS_PRICE_FALLBACK=1000000000
FOREIGN_GAS_PRICE_UPDATE_INTERVAL=600000

# when running using Docker
QUEUE_URL=amqp://rabbit
REDIS_URL=redis://redis

# when running using NPM
#QUEUE_URL=amqp://127.0.0.1
#REDIS_URL=redis://127.0.0.1:6379

REDIS_LOCK_TTL=1000

LOG_LEVEL=debug
MAX_PROCESSING_TIME=20000

#Uncomment these lines only if you are going to send transaction by testing scripts
#USER_ADDRESS=0x59c4474184579b9c31b5e51445b6eef91cebf370
#USER_ADDRESS_PRIVATE_KEY=
#HOME_MIN_AMOUNT_PER_TX=0.001
#FOREIGN_MIN_AMOUNT_PER_TX=0.001
#HOME_TEST_TX_GAS_PRICE=1000000000
#FOREIGN_TEST_TX_GAS_PRICE=1000000000
